
   
{{> header }}

<section class="">

    <article>

        <div class="container">

            <div class="row ">
                <div class="col-lg-6 ">

                    <div class="row ">
                        <!-- SHADOW-BOX -->
                        <div class="col-lg-12 shadow-lg m-4   p-3 overflow-hidden rounded">

                            <!-- TAG -->
                            <div class="text text-uppercase m-auto text-center text-info">
                                <small><span class="badge badge-pill badge-primary">Fictional</span></small>
                            </div>

                            <!-- CARD -->
                            <div class="card border-0 p-2 text-center">
                                <!-- BODY -->
                                <div class="m-auto">
                                    <a href="@sanjay" class="text-decoration-none">
                                        <small class="text text-muted text-capitalize">
                                            <i class="fa fa-user" aria-hidden="true"></i> sanjay mehra
                                        </small>
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">The Average Looking Boy</h5>
                                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                        Quo,
                                    </p>
                                </div>

                                <div class="card-footer bg-white">
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="text-center">
                                                <a href="" class="btn btn-sm btn-outline-dark rounded-pill">
                                                    <small>4.1k</small> <i class="fa fa-thumbs-up"
                                                        aria-hidden="true"></i> </a>
                                            </div>
                                        </div>
                                        <div class="col-4">

                                            <div class="text-center">
                                                <a href="" class="btn btn-sm btn-outline-dark rounded-pill">
                                                    <small>300</small> <i class="fa fa-comment" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="text-center">
                                                <a href=""
                                                    class="btn btn-sm btn-outline-dark rounded-pill text-justify">
                                                    <small>4.5</small> <i class="fa fa-star" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12 mt-1 ">
                                        <div class="text-center">
                                            <a href="" class="btn btn-sm btn-outline-dark rounded-pill">
                                                Read More <i class="fas fa-external-link-alt    "></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- BOX-END   -->
                        <div class="col-lg-12 shadow-lg m-4   p-3 overflow-hidden rounded">

                            <!-- TAG -->
                            <div class="text text-uppercase m-auto text-center text-info">
                                <small><span class="badge badge-pill badge-primary">Fictional</span></small>
                            </div>

                            <!-- CARD -->
                            <div class="card border-0 p-2 text-center">
                                <!-- BODY -->
                                <div class="m-auto">
                                    <a href="@sanjay" class="text-decoration-none">
                                        <small class="text text-muted text-capitalize">
                                            <i class="fa fa-user" aria-hidden="true"></i> sanjay mehra
                                        </small>
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">The Average Looking Boy</h5>
                                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                        Quo,
                                    </p>
                                </div>

                                <div class="card-footer bg-white">
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="text-center">
                                                <a href="" class="btn btn-sm btn-outline-dark rounded-pill">
                                                    <small>4.1k</small> <i class="fa fa-thumbs-up"
                                                        aria-hidden="true"></i> </a>
                                            </div>
                                        </div>
                                        <div class="col-4">

                                            <div class="text-center">
                                                <a href="" class="btn btn-sm btn-outline-dark rounded-pill">
                                                    <small>300</small> <i class="fa fa-comment" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="text-center">
                                                <a href=""
                                                    class="btn btn-sm btn-outline-dark rounded-pill text-justify">
                                                    <small>4.5</small> <i class="fa fa-star" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12 mt-1 ">
                                        <div class="text-center">
                                            <a href="" class="btn btn-sm btn-outline-dark rounded-pill">
                                                Read More <i class="fas fa-external-link-alt    "></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- BOX-END   -->
                        <div class="col-lg-12 shadow-lg m-4   p-3 overflow-hidden rounded">

                            <!-- TAG -->
                            <div class="text text-uppercase m-auto text-center text-info">
                                <small><span class="badge badge-pill badge-primary">Fictional</span></small>
                            </div>

                            <!-- CARD -->
                            <div class="card border-0 p-2 text-center">
                                <!-- BODY -->
                                <div class="m-auto">
                                    <a href="@sanjay" class="text-decoration-none">
                                        <small class="text text-muted text-capitalize">
                                            <i class="fa fa-user" aria-hidden="true"></i> sanjay mehra
                                        </small>
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">The Average Looking Boy</h5>
                                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                        Quo,
                                    </p>
                                </div>

                                <div class="card-footer bg-white">
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="text-center">
                                                <a href="" class="btn btn-sm btn-outline-dark rounded-pill">
                                                    <small>4.1k</small> <i class="fa fa-thumbs-up"
                                                        aria-hidden="true"></i> </a>
                                            </div>
                                        </div>
                                        <div class="col-4">

                                            <div class="text-center">
                                                <a href="" class="btn btn-sm btn-outline-dark rounded-pill">
                                                    <small>300</small> <i class="fa fa-comment" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="text-center">
                                                <a href=""
                                                    class="btn btn-sm btn-outline-dark rounded-pill text-justify">
                                                    <small>4.5</small> <i class="fa fa-star" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12 mt-1 ">
                                        <div class="text-center">
                                            <a href="" class="btn btn-sm btn-outline-dark rounded-pill">
                                                Read More <i class="fas fa-external-link-alt    "></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- BOX-END   -->


                    </div>

                </div>

                <!-- <div class="col-lg-4 shadow-lg p-3 bg-dark rounded-pill">
                        
                    </div> -->


            </div>
        </div>

    </article>
</section>


<section>
    <footer class="container">

        <div class="m-5">

            <div class="card border-0 shadow-sm  rounded-pill fixed-bottom">
                <div class="card-body">
                    <p class="card-text text-center"><i class="fa fa-copyright" aria-hidden="true"> book@2020</i>
                    </p>
                </div>
            </div>

        </div>

    </footer>
</section>

<section>
    <article class="container">


        <!-- TEXT EDITOR Blog Modal || Post Blog -->

        <div class="modal fade " id="myBookEditor">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <!-- Header -->

                    <div class="card-header bg-dark text-light">
                        <!-- Close Button -->
                        <button type="button" class="close" data-dismiss="modal">
                            <a href="#" class="btn btn-outline-light btn-lg"><i class="fa fa-times"
                                    aria-hidden="true"></i></a>
                        </button>

                        <h6 class="text-light">
                            <i class="fa fa-clock-o " aria-hidden="true"></i>

                        </h6>
                        <h6 class="text-light">
                            <i class="fa fa-calendar" aria-hidden="true"></i>

                        </h6>
                        <h3 class="text-justify text-capitalize">
                            <b> </b>
                        </h3>
                        <h6 class="card-title text-muted">Write Your Blog</h6>
                        <h6 class="card-subtitle text-muted"></h6>
                    </div>

                    <!-- Body -->
                    <div class="card-body ">


                        <!-- text Editor Form -->
                        <form action="BlogPostController" method="post" enctype="multipart/form-data">


                            <div class="flex-sm-column form-group flex-fill justify-content-sm-center">

                                <div class="input-group ">

                                    <select class="form-control custom-select" name="cardColor">

                                        <option value="bg-secondary" selected="selected">
                                            Book-Genre </option>
                                        <option value="bg-dark text-light">Horror</option>
                                        <option value="bg-white">Fantasy</option>
                                        <option value="bg-primary">Fictional</option>
                                        <option value="bg-info">Thriller</option>
                                        <option value="bg-success">Histrical</option>
                                        <option value="bg-danger">Rommance</option>
                                        <option value="bg-warning">Art</option>
                                        <option value="bg-secondary text-light">Mystery</option>
                                        <option value="bg-light">Sci-Fic</option>


                                    </select>

                                </div>

                            </div>
                            <input required="required" name="title" type="text" autofocus="autofocus"
                                class=" form-control" placeholder=" Enter Title "> <br>
                            <textarea id="summernote" name="post" cols="" rows="">  </textarea>

                            <button type="submit" class="btn btn-dark btn-block">Post</button>
                        </form>

                    </div>

                    <!-- Footer -->
                    <div class="card-footer ">

                        <input type="button" class="btn btn-danger btn-small" data-dismiss="modal" value="Close">

                    </div>

                </div>
            </div>

        </div>




        <!--End TEXT EDITOR Blog Modal -->

        <script type="text/javascript">
            $('#summernote').summernote({
                placeholder: ' Write Your Blog Here ',
                tabsize: 2,
                height: 300, // set editor height
                minHeight: 300, // set minimum height of editor
                maxHeight: 500, // set maximum height of editor
                focus: true
                // set focus to editable area after initializing summernote

            });
            		/* To Know More .. */
            /* https://summernote.org/getting-started/#basic-api */
        </script>

        <script type="text/javascript">
            $(document).ready(function () {
                $('#summernote').summernote();
            });
        </script>

    </article>
</section>