
{{> header }}

<!-- USER-PROFILE-BOX -->

<section>
    <article class="container">

        <div class="shadow-lg p-5 m-3 rounded overflow-hidden">


            <div class="card border-0 m-auto">
                <div class="card-body text-center">

                    <div class="card-title text-left d-inline-block">
                        Sanjay Mehra <br>
                        <p class="text-black-50 ">
                            B.C.A <br>
                            mehra2871198@gmail.com<br>
                            <a href="" class="btn btn-lg "><i class="fab fa-facebook-f"></i></a>
                            <a href="" class="btn btn-lg "><i class="fab fa-instagram"></i></a>
                            <a href="" class="btn btn-lg "><i class="fab fa-youtube" aria-hidden="true"></i></a>
                            <a href="" class="btn btn-lg "><i class="fab fa-quora" aria-hidden="true"></i></a>
                            <a href="" class="btn btn-lg "><i class="fab fa-github" aria-hidden="true"></i></a>
                            <br>
                        <div>
                            <a href="" class="btn btn-sm btn-outline-dark"> Edit <i class="fas fa-edit"></i></a>
                        </div>
                        </p>
                    </div>


                </div>
            </div>


        </div>


    </article>
</section>


<!-- USER-PROFILE-BOX-END -->

<!-- USER-INBOX -->
<section>

    <article class="container">

        <div class="shadow-lg p-5 m-3 rounded">

            <div class="">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-link text-dark text-uppercase small font-italic font-weight-bold active"
                            id="nav-home-tab" data-toggle="tab" href="#written-books" role="tab"
                            aria-controls="nav-home" aria-selected="true"> <i class="fa fa-book" aria-hidden="true"></i>
                            Published-Stories</a>
                        <a class="nav-link text-dark text-uppercase small font-italic font-weight-bold"
                            id="nav-profile-tab" data-toggle="tab" href="#draft" role="tab" aria-controls="nav-profile"
                            aria-selected="false"><i class="fas fa-box-open"></i> draft </a>
                        <a class="nav-link text-dark text-uppercase small font-italic font-weight-bold"
                            id="nav-contact-tab" data-toggle="tab" href="#Account" role="tab"
                            aria-controls="nav-contact" aria-selected="false"> <i class="fas fa-user-cog    "></i>
                            Account </a>
                    </div>
                </nav>

                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="written-books" role="tabpanel"
                        aria-labelledby="nav-home-tab">...</div>
                    <div class="tab-pane fade" id="draft" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
                    <div class="tab-pane fade" id="Save" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
                    <div class="tab-pane fade" id="Account" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
                </div>
            </div>

        </div>

    </article>

</section>
<!-- USER-INBOX-END -->