<section>
    <header>
        <div class="container-fluid">

            <nav class="navbar navbar-expand-md p-lg-2 m-2 navbar-light bg-white">
                <a class="navbar-brand text-uppercase" href="">
                    <h3 class=" font-weight-bold font-italic text-dark text-monospace border-bottom border-dark">
                        Book-Directory </h3>
                </a>
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                    data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav m-sm-auto m-auto">
                        <li class="nav-item  m-lg-3 m-md-2 m-sm-2 text-center font-italic p-2 text-monospace">
                            <a class="btn btn-outline-dark border-right-0 border-top-0 border-left-0 accordion btn-sm  rounded-pill  text-dark-50 m-1"
                                href="dashboard"><i class="fas fa-home"></i> Home </a>
                        </li>
                        <li class="nav-item m-lg-3 m-md-2 m-sm-2 text-center font-italic p-2 text-monospace">
                            <a class="btn btn-outline-dark border-right-0 border-top-0 border-left-0 accordion btn-sm  rounded-pill  text-dark-50 m-1"
                                href="profile"><i class="fa fa-user-circle" aria-hidden="true"></i> Profile </a>
                        </li>

                        <li class="nav-item m-lg-3 m-md-2 m-sm-2 text-center font-italic p-2 text-monospace">
                            <a class="btn btn-outline-dark border-right-0 border-top-0 border-left-0  accordion btn-sm  rounded-pill text-dark-50 m-1"
                                href="write-story-cover"> <i class="fas fa-pen-nib    "></i>
                                Write-Short-Stories</a>
                        </li>

                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control-sm form-control mr-sm-2" type="text" placeholder="Search">
                        <button class="btn btn-outline-success btn-sm my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>


        </div>
    </header>
</section>